.read--page {
  .author-info-container {
    padding-top: 15vh;

    .author {
      display: flex;
      flex-direction: row;

      .profile--image {
        width: 30%;
        padding: 5px;
        border-radius: 2px;

        img {
          width: 100%;
        }
      }

      .profile {
        flex: 1;
        padding: 5px;
      }
    }
  }
}
