@media only screen and (min-width: 850px) {
  .read-page {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 850px) {
  .read-page {
    display: block;
  }
}

.read-page {
  position: relative;
  padding: 20px 0 20px 0;

  .stories-container {
    flex: auto 1;
    position: relative;
  }

  @media only screen and (min-width: 1000px) {
    .stories {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin-left: -45%;
    }
  }

  @media only screen and (min-width: 850px) and (max-width: 1000px) {
    .stories {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      margin-left: -45%;
    }
  }

  @media only screen and (max-width: 850px) {
    .stories-container {
      flex: none;
    }

    .stories {
      padding: 30px;
    }
  }

  .story-container {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    margin-bottom: 3vh;

    .title {
      font-weight: 700;
      font-size: 28px;
      padding-left: 10px;
    }

    .author {
      padding: 20px;
      color: #f64c3f;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .story-container:last-child {
    border-bottom: 0;
  }
}

.author-info-container {
  width: 250px;
  height: 100%;

  .author-info {
    width: 250px;
    padding: 40px 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.author-info-container-mobile {
  padding-top: 30px;

  .author-info {
    padding: 15px;
    .author {
      display: flex;
      flex-grow: column;
    }

    .profile-image {
      width: 30%;
    }

    .profile {
      flex: 1 auto;
    }
  }
}
