.read-page {
  position: relative;
  padding: 20px 0 20px 0;

  @media only screen and (min-width: 1000px) {
    .stories-container {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      margin-left: -30%;
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 1000px) {
    .stories-container {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 74%;
      margin-left: -37%;
    }
  }

  @media only screen and (max-width: 750px) {
    .stories-container {
      padding: 30px;
    }
  }

  .story-container {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #505050;
    margin-bottom: 3vh;
  }

  .story-container:last-child {
    border-bottom: 0;
  }
}
