.image-upload-container {
  position: relative;
  margin: 10px auto;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  max-width: 400px;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  .edit-button {
    display: inline-block;
    position: absolute;
    top: -17px;
    right: -17px;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #f1f1f1;
      border-color: #d6d6d6;
    }
  }
}

.image-upload-container.with--image {
  opacity: 1;
}

.image-upload-container:hover {
  opacity: 1;
}

.image-edit-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .title {
    height: 50px;
    text-align: center;
    padding: 1vw;
  }

  .image-editor {
    flex: 1;
    padding: 2vw;
    text-align: center;
  }

  .submit {
    height: 8%;
    text-align: right;
  }
}
