.profile-page-container {
  height: 100%;
}

.profile-info-container {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-image-container {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}
