.login-grid {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-row {
  padding-bottom: 0px !important;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

.login-column {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 60%;
  background-color: #777b7e !important;
  color: white !important;
  margin-top: 5% !important;
  border-radius: 12px !important;
  margin-left: 20% !important;
}

.login-centered-text {
  text-align: center;
}
