.profile-info-edit-blurb {
  margin-bottom: 10%;
}

.profile-info-edit-form {
  margin-bottom: 5%;
}

.profile-info-edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.profile-button {
  background-color: #383838 !important;
  color: white !important;
  opacity: 0.8;
}

@media only screen and (max-width: 750px) {
  .profile-info-edit-container {
    h3 {
      font-size: 10px;
      font-weight: 800;
    }

    hr {
      display: none;
    }
  }
}

@media only screen and (min-wdith: 751px) {
  .profile-info-edit-container {
    hr {
      height: 2px;
      border-top: 1px solid black;
    }
  }
}
