.profile-info-edit-container {
  hr {
    height: 2px;
    border-top: 1px solid black;
  }
}

.profile-info-edit-blurb {
  margin-bottom: 10%;
}

.profile-info-edit-form {
  margin-bottom: 5%;
}

.profile-info-edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.profile-button {
  background-color: #383838 !important;
  color: white !important;
  opacity: 0.8;
}
