.chapter-list {
  background-color: white;
  padding: 5px;
  position: relative;
  border: 1px solid grey;
  margin: 5px;

  .chapter-list-add-icon {
    position: absolute;
    right: -5px;
    bottom: -5px;
    cursor: pointer;
  }

  .chapter-title {
    font-size: 20px;
    font-weight: 700;
  }

  margin-top: 5px;

  .chapter {
    font-family: 'proxima-nova-soft', sans-serif;
    position: relative;
    margin: 2vh 1vh 2vh 1vh;

    .chapter-content {
      background-color: #fff;
      box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
      padding: 1em;
      box-sizing: border-box;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .chapter-delete-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}
