.chapter-list {
  margin-top: 20px;
  padding: 10px 5px 20px 5px;
  border-radius: 8px;
  font-family: sans-serif;
  box-sizing: border-box;
  position: fixed;
  width: 250px;
  color: #60677a;
  // background-color: #eceae0;

  .chapter-list-add-icon {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    left: 0px;
    color: #8ba987;
  }

  .chapter {
    position: relative;
    margin-bottom: 5px;
    padding: 5px;
    border-left: 2px solid #8ba987;
    cursor: grab;

    .chapter-content {
      a {
        text-decoration: none;
        color: inherit;
        display: block;
        cursor: inherit;
      }

      .top {
        .title {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
        }

        .title-place-holder {
          color: #d3d3d3;
        }
      }

      .chapter-action-menu {
        i {
          font-size: 14px;
          color: #8ba987;
          cursor: pointer;
        }
      }
    }

    .header {
      font-weight: 700;
      font-size: 1.3em;
    }

    .active-chapter-content {
      background: blue;
    }
  }
}
