.chapter-list {
  margin-top: 20px;
  padding: 10px 5px 20px 5px;
  border-radius: 8px;
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;

  .chapter-list-add-icon {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    left: 0px;
    color: #4b6777;
  }

  .chapter {
    position: relative;
    margin-bottom: 5px;
    padding: 5px;
    // border-left: 2px solid #ce9e62;
    cursor: grab;

    .chapter-content {
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      .top {
        .title {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
        }

        .title-place-holder {
          color: #d3d3d3;
        }
      }

      .chapter-action-menu {
        i {
          font-size: 14px;
          color: #4b6777;
          cursor: pointer;
        }
      }
    }

    .header {
      font-weight: 700;
      font-size: 1.3em;
    }

    .active-chapter-content {
      background: blue;
    }
  }
}
