.side-menu-triggerer {
  position: fixed;
  background-color: #8ba987;
  text-align: center;
  padding: 2.5vw 0.5vw 2.5vw 0.5vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: white;

  label {
    font-weight: 700;
    font-size: 12px;
  }

  i {
    font-size: 18px;
  }
}
