.card-container {
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  border: 1px solid #383838;
  box-shadow: 3px 3px#808080;

  border-radius: 8px 0 0 0;

  .card-author {
    padding: 10px 10px 10px 20px;
    color: #f64c3f;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .card-content-container {
    padding: 10px;
    .title {
      font-size: 18px;
      color: #505050;
    }

    .content {
      border-left: 1px solid #505050;
      border-bottom: 1px solid #505050;
    }
  }

  .card-time-container {
    text-align: right;
    font-weight: 900;
    padding: 5px;
  }

  .card-actions {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    .card-action {
      cursor: pointer;
      width: 33%;
      margin-right: 0.5%;
      display: inline-block;
      padding: 0 10px;
      line-height: 48px;
      color: #91949d;
      border-radius: 0;
    }

    .card-action:hover {
      background-color: #db4439;
      color: white;
    }

    .card-action:last-child {
      margin-right: 0%;
      text-align: right;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
