.card-container {
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 1.5;
  background-color: white;

  border-radius: 8px 0 8px 0;

  margin: 20px;

  .card-author {
    padding: 10px 10px 10px 20px;
    color: #f64c3f;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .card-content-container {
    padding: 5px;
    .title {
      color: #505050;
      text-align: right;
    }
  }

  .card-time-container {
    text-align: right;
    font-weight: 900;
    padding: 5px;
  }

  .card-actions {
    background-color: #383838;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    border-radius: 0px 0 8px 0;

    .card-action {
      cursor: pointer;
      width: 33%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 5px;
      margin-right: 0.5%;
      display: inline-block;
      height: 48px;
      padding: 0 20px;
      line-height: 48px;
      color: #91949d;
    }

    .card-action:hover {
      background-color: #db4439;
      color: white;
    }

    .card-action:last-child {
      border-radius: 0px 0 8px 0;
      margin-right: 0%;
      text-align: right;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
