.action-list.horizontal {
  overflow: auto;

  li.horizontal {
    margin-top: 5px;
    float: left;
    margin-right: 5px;
    font-size: 11px;
    margin: 0;
    letter-spacing: 0.7px;
  }
}

.action-list {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #60677a;

  li {
    position: relative;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: list-item;
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    a {
      padding: 0 20px;
      display: block;
      text-decoration: none;
      color: inherit;
      font-weight: inherit;
    }

    p {
      text-align: center;
      line-height: 30px;
      display: block;
      text-decoration: none;
      color: inherit;
      font-weight: inherit;
    }
  }

  li:hover {
    text-decoration: underline;
    color: black;
  }

  li:last-child {
    margin-bottom: 2px;
  }
}
