.home-authors {
  position: fixed;
  font-family: sans-serif;
  top: 90px;
  color: #60677a;

  .container {
    overflow-y: scroll;
    background: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
  }

  a {
    color: inherit;
  }

  .head {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
  }

  .author {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1vh;
    width: 180px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #60677a;

    .profile-image {
      width: 60%;
      margin: auto;
    }

    .info {
      margin-top: 5px;
      border-top: 1px solid #8ba987;
      padding-top: 5px;

      .name {
        color: #8ba987;
        font-weight: 600;
      }

      .location {
        font-weight: 400;
        font-size: 13px;
      }

      .occupation {
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}

.home-authors-mobile {
  color: #60677a;
  padding: 0 3vw 0 3vw;

  .head {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
  }

  .container {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .author {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin: 0 1vw;
    width: 20vw;
    float: left;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #60677a;

    .profile-image {
      width: 60%;
      margin: auto;
    }

    .info {
      margin-top: 5px;
      border-top: 1px solid #8ba987;
      padding-top: 5px;

      .name {
        color: #8ba987;
        font-weight: 600;
      }

      .location {
        display: none;
        font-weight: 400;
        font-size: 13px;
      }

      .occupation {
        display: none;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
