@media only screen and (min-width: 800px) {
  .home-page-container {
    margin: auto;
    width: 600px;
  }

  .home-page-body {
    flex: 1;
  }

  .home-page-right {
    width: 180px;
  }

  .home-menu-container {
    position: fixed;
    width: calc((100% - 600px) / 2);
    left: 0;
    padding: 15vh 0 0 4vw;
  }

  .home-authors-container {
    position: fixed;
    right: 0;
    width: calc((100% - 600px) / 2);
    padding: 0 4vw 0 0;
  }
}

.home-page-container {
  .home-page-body {
    padding: 0 3vw 0 3vw;

    .quote-container {
      padding: 1vw 3vw 1vw 3vw;

      .quote {
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
        text-align: justify;
        font-style: oblique;
      }

      .author {
        font-size: 18px;
        font-weight: 700;
        font-family: sans-serif;
        text-align: right;
      }
    }
  }
}

.home-menu-container {
  text-align: center;

  .channel-container {
    .channels {
      .channel {
        margin: 5px;
        cursor: pointer;
        font-size: 22px;
        transition: all 0.2s ease-in-out;
      }

      .channel:hover {
        transform: scale(1.3);
        // color: black;
      }
    }
  }
}
