.home-menu-container {
  padding-top: 4vh;
  height: 100%;
  padding: 10px;

  .introduction {
    border-radius: 8px 8px 0 0;
    .head {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
    }

    .body {
      padding: 0 20px 20px;
      font-size: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;
    }
  }

  .channel-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
    border-top: 1px solid #60677a;
    // color: #60677a;

    .channels {
      .channel {
        margin: 5px;
        cursor: pointer;
        font-size: 25px;
        transition: all 0.2s ease-in-out;
      }

      .channel:hover {
        transform: scale(1.3);
        // color: black;
      }
    }
  }
}
