.home-page-container {
  display: flex;
  flex-direction: row;

  .home-menu-grid {
    margin: 1vh;
    width: 300px;
    height: 500px;
    border: 0px solid;
    border-radius: 0 0px 8px 8px;
    opacity: 0.8;
    padding: 5px;
  }

  .home-page-body {
    flex: 1;
    padding: 1.5vw;

    .quote-container {
      padding: 1vw 3vw 1vw 3vw;

      .quote {
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
        text-align: justify;
        font-style: oblique;
      }

      .author {
        font-size: 18px;
        font-weight: 700;
        font-family: sans-serif;
        text-align: right;
      }
    }
  }
}
