.home-page-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .home-page-body {
    flex: 1;
    padding: 1.5vw;

    .quote-container {
      padding: 1vw 3vw 1vw 3vw;

      .quote {
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
        text-align: justify;
        font-style: oblique;
      }

      .author {
        font-size: 18px;
        font-weight: 700;
        font-family: sans-serif;
        text-align: right;
      }
    }
  }
}
