.profile-info-view-header {
  display: flex;
  align-items: flex-start;

  h1 {
    padding-right: 30px;
  }
}

.profile-info-view-attr {
  display: inline;
  margin-left: 10px;
}

@media only screen and (max-width: 750px) {
  .profile-info-view-container {
    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 751px) {
  .profile-info-view-container {
    padding-top: 30px;
    padding-left: 100px;
  }

  .profile-info-view-blurb {
    margin-top: 10px;
  }
}
