.profile-info-view-section {
  margin-top: 20px;
}

.profile-info-view-user-attr {
  margin-top: 10px;
}

.profile-info-view-subheader {
  display: inline;
  margin-left: 10px;
}

.profile-info-view-button {
  background-color: #383838 !important;
  color: white !important;
  opacity: 0.8;
  margin-bottom: 20px !important;
}

.push-header-to-left {
  display: flex;
  align-items: baseline;
}

.push-button-to-right {
  margin-left: auto !important;
}
