.header-container {
  position: fixed;
  width: 100%;
  background-color: #8ba987;
  box-shadow: #8ba987 0px 2px 2px;
  z-index: 10;
}

.header-navigation {
  span {
    float: left;
    color: #505050;
    text-align: center;
    text-decoration: none;
  }

  span a {
    display: inline-block;
    color: #505050;
    text-align: left;
  }

  .dropdown-menu {
    top: 70px;
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    padding: 10px;

    li {
      width: 100%;
      font-size: 18px;
    }

    li a {
      padding: 8%;
      width: 100%;
    }
  }
}

.avatar-container {
  display: flex;
  flex-direction: row;

  span {
    padding-left: 16px !important;
  }
}

@media only screen and (max-width: 750px) {
  .header-image {
    margin-top: 5% !important;
  }

  .header-navigation {
    span a {
      padding: 14px 16px;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      border-radius: 50%;
    }
  }

  .avatar-container {
    span {
      display: none;
    }
  }

  .dropdown-menu {
    display: none;
  }

  .user-profile-container {
    padding: 8px 16px;
  }
}

@media only screen and (min-width: 751px) {
  .header-navigation {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

    span {
      font-size: 1.4rem;
      padding: 14px 16px 14px 0px;
    }

    span a {
      padding: 14px 0;
    }

    img {
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
    }
  }
}
