.blog-editor-container {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: justify;
  color: #505050;
  position: relative;

  .editor-block-menu {
    position: fixed;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    display: block;
    padding: 1px;
    text-align: center;

    border: 1px solid #ddd;
    border-radius: 3px;
  }
}
