@font-face {
  font-family: proxima-nova-soft;
  src: url(./fonts/proxima.ttf);
}

html,
body,
#root,
#app {
  height: 100%;
  font-family: 'proxima-nova-soft', sans-serif;
  background: #f8f8f8;
}

*:focus {
  outline: none;
}

.scaler-hover {
  transition: all 0.2s ease-in-out;
}

.scaler-hover:hover {
  transform: scale(1.3);
}
