@font-face {
  font-family: proxima-nova-soft;
  src: url(./fonts/proxima.ttf);
}

html,
body,
#root,
#app {
  height: 100%;
  font-family: 'proxima-nova-soft', sans-serif;
  background: #e8e8e8;
}

*:focus {
  outline: none;
}

.scaler-hover {
  transition: all 0.2s ease-in-out;
}

.scaler-hover:hover {
  transform: scale(1.3);
}

.dark-background {
  background-color: #383838;
}

.common-button {
  background-color: rgba(0, 0, 0, 0.7);
}
