.search-form-container {
  margin-left: auto;
  padding: 20px;

  input {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid grey;
    // color: white;
    width: 300px;
  }

  // input::placeholder {
  //   color: white;
  // }

  .search-field-container {
    display: inline-block;

    input:focus {
      outline: none !important;
    }
  }
}

.search-dropdown-container {
  top: 70px;
  position: absolute;
  list-style: none;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 20%;
  text-align: left;
  color: grey;

  li {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #f5f5f5;

    a {
      color: grey;
    }
  }

  li:first-child {
    border: none;
  }
}
