.story-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 50px;

  .chapter-list-container {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }

  .button-action-container {
    border: 1px solid #2ecc40;
    border-radius: 4px;
    padding: 4px;
  }

  .bottom-action-container {
    padding: 5px 0 5px 0;

    border-top: 1px solid #aaaaaa;

    .viewer-bottom-action {
      padding: 0 !important;
      border: solid #aaaaaa;
      border-width: 0 1px 0 1px;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 850px) {
  .blog-editor-container {
    flex: 1;
    padding: 1.5vw;
  }
}

@media only screen and (max-width: 850px) {
  .chapter-list-container {
    width: 100px;
  }
}

.move-enter {
  opacity: 0.01;
  transform: translate(-40px, 0);
}

.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 800ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.move-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 400ms ease-in;
}
